*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  font-size: 22px;
}


body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: stretch;
  height: 10rem;
  max-width: 100%;
  border: 2.5px solid rebeccapurple;
  margin: auto;
  background-color: #fff;
  color: #000;
}


.App:hover{
  background-color: #000;
  color: #fff;
}